@import url('https://fonts.googleapis.com/css?family=Inter:400,700,900,300,500|Space+Grotesk:400,700');

/*------------------------GENERAL......................................*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto 0%;
}

body {
    background-color: rgba(0, 0, 0, 1);
    color: aliceblue;
}

/*------------------------SKILLS.....................................................*/


.flex {
    display: flex;
    justify-content: space-evenly;
}

.flexColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.flexColumnStart {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;


}

.padding {
    padding: 30px;
}


.material-symbols-outlined {
    margin-bottom: 5px;
    padding: 5px;
    font-variation-settings:
        'FILL'1,
        'wght'600,
        'GRAD'0,
        'opsz'48;
}


/*------------------------HEADER............................................*/

.logo {
    width: 20vh;
    height: 5vh;
    margin: 10px;
}

.imageHeader {
    width: 98vw;
    background-image: url(../public/assets/Gid\ header\ 500.gif);
    background-size: cover;
    background-position: 10px;
    margin-bottom: 0%;
}

.flexHeader {
    height: 340px;
    font-size: xx-large;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

/*------------------TITLE..................*/


.title {
    margin: 0% auto;
    padding: 20px;
    width: 768px;
    height: 200px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.imgTitle {
    height: 180px;
    width: 310px;
    padding: 30px;
}

/*------------------------------MAIN ---------------------------------------------*/

/*---------------PARTE 1 -------------------*/

.section1 {
    margin: 0% auto;
}

.grillaMain1 {
    display: grid;
    grid-template-areas: "fila1"
        "fila2"
        "fila3"
        "fila4";
    grid-template-columns: 1fr;
    grid-template-rows: 4fr ;
    column-gap: 15px;
    row-gap: 15px;

}

.divG1 {
    grid-area: fila1;
}

.divG2 {
    grid-area: fila2;
}

.divG3 {
    grid-area: fila3;
}

.divG4 {
    grid-area: fila4;
}

.div1 {
    margin: 10px;
    padding: 20px;
    background-image: url(../public/assets/DA-back.png);
    background-position: center center;
    background-size: cover;
}

.imgMain1 {
    width: 600px;
    height: 420px;
    margin: 20px;
}

.titleDiv {
    width: 320px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.div2 {
    margin: 10px;
    background-image: url(../public/assets/DF-back-2.png);
    background-position: center center;
    background-size: cover;
    background-position: 20px;
    display: flex;
    align-items: flex-end;
}

.imgMain2 {
    width: 500px;
    height: 300px;
}

.div3 {
    margin: 20px;
    padding: 20px;
    background-image: url(../public/assets/kal-visuals-DqmXihYx5UE-unsplash.jpg);
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.imgMain3 {
    width: 600px;
    height: 500px;
    margin: 40px;
    margin: 0% auto;
}

.div4 {
    margin: 20px;
    background-image: url(../public/assets/sgo.a_Stormtrooper_and_darth_vader_gopro_selfie_thick_volumetri_1a4d352b-6066-41e2-813e-da9d9cb3de2d.png);
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.imgMain4 {
    width: 600px;
    height: 300px;
    margin: 0% auto;
}


/*---------------PARTE 2 -------------------*/


.mainSection2-1 {
    margin: 0% auto;
    width: 700px;
    height: 500px;
    background-image: url(../public/assets/SFX-Back.png);
    background-position: center center;
    background-size: cover;
}

.imgMainPart2 {
    width: 400px;
    margin-left: 550px;
}

.mainSection2-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 700px;
    margin: 10px;
    padding-right: 45px;
    background-image: url(../public/assets/SFX2-sticker.png);
    background-position: center center;
    background-size: cover;
}

.mainSection2-2 p {
    font-size: 87px;
    color: rgb(210, 217, 224);
}

.titleMain2-2 {
    margin: 0% auto;
    font-size: 2rem;
    color: rgb(177, 4, 4);
    margin-bottom: 100px;

}

/*---------------PARTE 3 -------------------*/

.sectionMain3 {
    margin: 0% auto;
    width: 700px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.article1 {
    width: 500px;
    height: 300px;
    font-size: 5rem;
    color: rgb(202, 1, 1);
    margin: 0% auto;
}

h3 {
    position: absolute;
    font-size: 5rem;
    color: rgb(0, 0, 0);
}

.art1-2 {
    text-shadow:
        -1px -1px 0 white,
        1px -1px 0 white,
        1px 1px 0 white,
        -1px 1px 0 white;
}

.art1-2-2 {
    color: rgb(228, 90, 90);
    animation: wave 3s ease-in-out infinite;
}

@keyframes wave {

    0%,
    100% {
        clip-path: polygon(0% 47%,
                10% 48%,
                33% 54%,
                54% 68%,
                76% 61%,
                84% 59%,
                100% 52%,
                100% 100%,
                0% 100%);
    }

    65% {
        clip-path: polygon(8% 69%,
                15% 65%,
                34% 66%,
                51% 62%,
                67% 56%,
                84% 45%,
                100% 46%,
                100% 100%,
                0% 100%);
    }
}

.article2 {
    font-size: 2rem;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
}

table,
.tableForIndustry {
    border: blueviolet solid 4px;
    margin: 10px;
    padding: 15px;
    font-size: 20px;
    margin-bottom: 40px;
}

.artint1 {
    border: blueviolet solid 4px;
    color: rgb(201, 67, 141);
    padding: 70px;
    margin: 10px;
    font-size: 20px;
    margin-bottom: 10px;
}

.artint2 {
    border: blueviolet solid 4px;
    color: rgb(119, 34, 105);
    padding: 70px;
    margin: 10px;
    font-size: 20px;
    margin-bottom: 10px;
}

.table {
    margin: 0% auto;
    width: 1200px;
    display: flex;
    justify-content: center;
    text-align: start;
    font-size: 30px;
    margin-bottom: 30px;
}

th,
thead {
    color: blueviolet;
    padding: 25px;
    width: 300px;
    text-align: center;
}

table,
td {
    border: 1px solid #c73535;
    color: #c73535;
    padding: 15px;
    font-size: 20px;
}

thead,
tfoot {
    background-color: #000000;
    color: #fff;
}

/*---------------PARTE 4 -------------------*/

.main4 {
    margin: 0% auto;
    margin-bottom: 60px;
    width: 750px;
    display: flex;
    justify-content: space-between;
    text-align: start;
    border-top: 5px solid #c73535;
    border-bottom: 5px solid #c73535;
}

.monazo {
    width: 400px;
    height: 450px;
    margin: 10px;
    background-image: url(../public/assets/monazo-portada-PNG.png);
    background-position: center center;
    background-size: cover;
}

.eldelmedio {
    color: #000000;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    margin-top: 10px;

}

.pMedio {
    text-shadow: -1px -1px 0 white;
}

.gameSticker {
    width: 250px;
    height: 250px;
    background-image: url(../public/assets/Gamepad\ gif\ 500.gif);
    background-position: 12px;
    background-size: cover;
    background-position: center;
}

.main5 {
    margin: 0% auto;
    width: 750px;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 40px;
    color: blueviolet;
    margin-bottom: 30px;
    border-top: 5px solid blueviolet;
    border-bottom: 5px solid blueviolet;
}

.main5-2 {
    margin: 0% auto;
    width: 750px;
    height: 450px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 40px;
    color: blueviolet;
    margin-bottom: 30px;
    border-bottom: 5px solid blueviolet;
}

.divMain5 {
    display: flex;
    width: 750px;
    justify-content: space-around;
    margin-bottom: 30px;
}

.picMain5 {
    width: 700px;
    height: 300px;
}

.main6 {
    width: 760px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainPic6-1 {
    width: 760px;
    height: 600px;
    background-image: url(../public/assets/Phone-Mockup.jpg);
    background-size: cover;
}

.mainPic6-2 {
    width: 800px;
    height: 600px;
    background-image: url(../public/assets/Hands-Holding-Landscape-Smartphone-Free-Mockup.jpg);
    background-size: cover;
}

.mainpic6-2-detail {
    margin-top: 40px;
    width: 550px;
    font-size: 3rem;
    font-weight: 300;
    color: #c73535;
    display: flex;
    flex-direction: column;
}

.detail1 {
    text-align: center;
    margin-left: 30px;
}

.detail2 {
    text-align: right;
}

.main7Gif {
    height: 500px;
    width: 700px;
    margin: 20px;
    background-image: url(../public/assets/Arcade\ gif.gif);
    background-position: center center;
    background-size: cover;
}


/*---------------------------------FOOTER-------------------------------------------*/

.footer {
    margin: 0% auto;
    width: 760px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 3px solid blueviolet;
}

.foot1 {
    margin: 40px;
    font-size: 2rem;
}

.foot2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 700px;
}

.foot2-1 {
    display: flex;
    flex-direction: column;
    align-items: normal;
}

.foot2-1-1 {
    font-size: 20px;
    color: #727272;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot2-1-2 {
    margin: 40px;
    font-size: 20px;

}

.foot2-1-3 {
    font-size: 30px;

}

/*-----------------------------MEDIAS QUERYS-------------------------------------------*/

@media screen and (min-width:1024px) {

    .title {
        width: 1200px;
        height: 200px;
    }

    .grillaMain1 {
        display: grid;
        grid-template-areas: "fila1 fila2"
            "fila3 fila4";
        grid-template-columns: 50% 50%;
        grid-template-rows: 4fr ;
        column-gap: 15px;
        row-gap: 15px;
        margin: 0px auto;    
    }
    
    .divG1 {
        grid-area: fila1;
    }
    
    .divG2 {
        grid-area: fila2;
    }
    
    .divG3 {
        grid-area: fila3;
    }
    
    .divG4 {
        grid-area: fila4;
    }

    .div1 {
        width: 500px;
        height: 500px;
    }

    .imgMain1 {
        width: 450px;
        height: 420px;
    }

    .div2 {
        height: 500px;
        width: 500px;
        margin: 10px;
    }

    .imgMain2 {
        width: 400px;
        height: 300px;
    }

    .div3 {
        height: 500px;
        width: 500px;
        margin-left: 60px;
    }

    .imgMain3 {
        width: 400px;
        height: 500px;
    }


    .div4 {
        height: 500px;
        width: 500px;
    }

    .imgMain4 {
        width: 400px;
        height: 300px;

    }

}